*.xls

# VS Code project files
.vscode
.vs

# Vim
*.swp

# *.llir
# *.asm
# *.s
# *jpg
# *jpeg

.triton

test_openmp*

# Triton builds
build*
build-*
*.png
*.csv
*.bk
*.log

# thirdparty
thirdparty/llvm-project
thirdparty/triton-cpu
spacemit-toolchain-linux-glibc-x86_64-v1.0.1

# misc
GEMINI.md
